<div class="perfil" *ngIf="data">
  <div class="perfil-header">
  <div class="foto-wrapper">
    <img 
      [src]="data.foto_perfil || 'assets/img/default-user.png'" 
      alt="Foto de perfil" 
      class="foto-perfil"
    />
  </div>

  <h1 class="nombre">{{ data.nombre }}</h1>
</div>

  <section class="grid">
    <!-- Datos personales -->
    <article class="card card--block">
      <h2>Datos Personales</h2>
      <div class="datos">
        <div class="dato">
          <span class="label">ID:</span>
          <span class="value">{{ data.id }}</span>
        </div>
        <div class="dato">
          <span class="label">Fecha de nacimiento:</span>
          <span class="value">{{ data.fechaNac }}</span>
        </div>
        <div class="dato">
          <span class="label">Género:</span>
          <span class="value">{{ data.genero }}</span>
        </div>
        <div class="dato">
          <span class="label">Peso:</span>
          <span class="value">{{ data.peso }}</span>
        </div>
        <div class="dato">
          <span class="label">Altura:</span>
          <span class="value">{{ data.altura }}</span>
        </div>
        <div class="dato">
          <span class="label">Correo:</span>
          <span class="value">{{ data.correo }}</span>
        </div>
        <div class="dato">
          <span class="label">Teléfono:</span>
          <span class="value">{{ data.telefono }}</span>
        </div>
        <div class="dato" *ngIf="data.genero=='Femenino'">
          <span class="label">Embarazo:</span>
          <span class="value" *ngIf="data.embarazo">Si</span>
          <span class="value" *ngIf="!data.embarazo">No</span>

        </div>
      </div>
      <br>
      <button>Editar Perfil</button>
    </article>

    <article class="card card--block">
       <h2>
        Contacto de emergencia:
       </h2>
       <div class="datos">
        <div class="dato">
          <span><b>Nombre: </b></span>
          <span>{{data.nombre_emergencia}}</span>
        </div>
        <div class="dato">
          <span><b>Número: </b></span>
          <span>{{data.numero_emergencia}}</span>
        </div>
       </div>
    </article>
    <!-- Actividad Física -->
    <article class="card">
      <h2>Actividad Física</h2>
      <p class="actividad">
        <strong>{{ data.actividadFisica.nivel }}:</strong>
        {{ data.actividadFisica.descripcion }}
      </p>
    </article>

    <!-- Afecciones -->
    <article class="card">
      <h2>Afecciones</h2>
      <div class="chips">
        <span class="chip" *ngFor="let a of data.afecciones">{{ a }}</span>
      </div>
    </article>
  </section>

  <!-- Tratamientos -->
  <section class="card card--full">
    <h2>Tratamientos</h2>

    <div class="treatments">
      <article class="t-card" *ngFor="let t of data.tratamientos">
        <h3>{{ t.titulo }}</h3>

        <div class="t-grid">
          <div class="t-col">
            <span class="t-label">Descripción:</span>
            <p class="t-text">{{ t.descripcion }}</p>
          </div>
          <div class="t-col">
            <span class="t-label">Dosis:</span>
            <p class="t-text">{{ t.dosis }}</p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <!-- Admitido por -->
  <section class="card card--full admitido">
    <h2>Admitido por</h2>
    <p class="admin">{{ data.admitidoPor }}</p>
  </section>
</div>
