<section class="perfil" *ngIf="medico">
  <h1 class="nombre">{{ medico.nombre }}</h1>
  <div class="grid">
    <!-- Datos personales -->
    <article class="card datos">
      <h3>Datos Personales</h3>
      <div class="cols">
        <ul>
          <li><b>ID:</b> {{ medico.id }}</li>
          <li><b>Teléfono:</b> {{ medico.telefono }}</li>
        </ul>
        <ul>
          <li><b>Fecha de nacimiento:</b> {{ medico.fechaNac }}</li>
          <li><b>Correo:</b> {{ medico.correo }}</li>
        </ul>
      </div>
      <button>Editar Perfil</button>
    </article>

    <!-- Matrícula -->
    <article class="card matricula" *ngIf="pdf">
      <h3>Matrícula</h3>
      <div class="img-wrap">
        <iframe
          [src]="pdf"
          width="100%"
          height="600px"
          style="border:none;"
        ></iframe>
      </div>
    </article>

    <!-- Departamento -->
    <article class="card depto">
      <h3>Departamento</h3>
      <div class="center-big">{{ medico.departamento }}</div>
    </article>

    <!-- Carnet profesional -->
    <article class="card carnet">
      <h3>Carnet Profesional</h3>
      <div class="img-wrap">
        <img [src]="medico.carnet" alt="" />
      </div>
    </article>

    <!-- Admitido por -->
    <article class="card admitido">
      <h3>Admitido por</h3>
      <div class="center-big">{{ medico.admin }}</div>
    </article>
  </div>

</section>
